<p class="login-box-msg">Sign in to your account</p>

<%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
    <div class="form-group has-feedback">
      <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <% if devise_mapping.rememberable? %>
            <div class="checkbox icheck">
              <label>
                <%= f.check_box :remember_me %>
                <span style="margin-left:10px;position: relative;top: 2px;">Remember me</span>
              </label>
            </div>
        <% end -%>
      </div><!-- /.col -->

      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
      </div><!-- /.col -->
    </div>
<% end -%>

<br/><br/>

<div class="row">
  <div class="col-md-6">
    <%= link_to 'Not a member?', new_user_registration_url  %>
  </div>
  <div class="col-md-6">
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
    <% end -%>
  </div>
</div>
