<% channels = ContactInfo::CHANNELS %>
<% selected = first ? channels.first(3) : channels.last(3)  %>
<% selected.each_with_index do |channel, index| %>
  <% case channel  %>
  <% when 'facebook' %>
      <% placeholder, icon = ['facebook.com/jen.smith', 'facebook'] %>
  <% when 'twitter' %>
      <% placeholder, icon = ['@jensmith', 'twitter'] %>
  <% when 'instagram' %>
      <% placeholder, icon = ['@missjenny', 'instagram'] %>
  <% when 'email' %>
      <% placeholder, icon = ['Email', 'envelope'] %>
  <% when 'phone' %>
      <% placeholder, icon = ['Phone', 'phone'] %>
  <% when 'whatsapp'  %>
      <% placeholder, icon = ['Whatsapp', 'whatsapp'] %>
  <% else %>
        <% placeholder, icon, channel = ['Other', 'other', 'other'] %>
  <% end %>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-<%= icon %>"></i></span>
    <input name='contact_info[<% index %>][address]' type="text" class="form-control" placeholder="<%= placeholder %>">
    <input name="contact_info[<% index %>][channel]" value="<%= channel %>" type="hidden">
  </div>
  <br/>
<% end %>
