<%= content_for :styles do %>
    .info-box-content { margin-left: 0px; }
    .info-box {  min-height:0px !important;  }
    .box { border-radius: 0px !important; }
<% end %>

<%= content_for :user_logo do %>
    <%= image_tag account.logo.url(:thumb), class: 'user-logo' %>
<% end %>

<%= content_for :flash_user_image do %>
    <%= image_tag account.logo.url(:thumb), class: 'flash-user-image' %>
<% end %>

<%= content_for :account_name do %>
    <%= account.name %>
<% end %>

<% content_for :navigation do  %>
    <% if account.website.presence %>
        <li>
          <a href="http://<%= account.website %>" target="_blank">
            <i class="fa fa-globe"></i></a>
        </li>
    <% end %>
    <% if account.website.presence %>
        <li>
          <a href="http://<%= account.facebook %>" target="_blank">
            <i class="fa fa-facebook"></i></a>
        </li>
    <% end %>
    <% if account.twitter.presence %>
        <li>
          <a href="http://<%= account.twitter %>" target="_blank">
            <i class="fa fa-twitter"></i></a>
        </li>
    <% end %>
    <% if account.instagram.presence %>
        <li>
          <a href="http://<%= account.instagram %>" target="_blank">
            <i class="fa fa-instagram"></i></a>
        </li>
    <% end %>
<% end %>