<%= content_for :title do %>
    <%= @item.name %> -
<% end %>
<% content_for :styles do %>
    a { color:#333; }
<% end %>

<%= render partial: 'storefront/items/navbar',
           locals: { account: @account, item: @item} %>

  <!-- Portfolio Item Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header text-center col-xs-11" style="padding-bottom: 10px;">
        <%= @item.name %>
        <% if @item.listing_url.present? %>
            <small style="font-size:13px;"> <%= link_to 'See more...', @item.listing_url, target: :blank %> </small>
        <% end %>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-5">
      <div class="row">
        <div class="col-sm-4 col-xs-6">
          <div class="description-block border-right">
            <h2>
              <% if @item.highest_offer %>
                  <%= humanized_money_with_symbol(@item.highest_offer.amount) %>
              <% else %>
                  <%= humanized_money_with_symbol(0) %>
              <% end %>
            </h2>
            <span class="description-text">HIGHEST OFFER</span>
          </div><!-- /.description-block -->
        </div><!-- /.col -->

        <div class="col-sm-4 col-xs-6">
          <div class="description-block border-right">
            <% count = @item.offers.count %>
            <h2> <%= count %> </h2>
            <span class="description-text"><%= pluralize(count, 'OFFER') %></span>
          </div><!-- /.description-block -->
        </div><!-- /.col -->

        <div class="col-sm-4 col-xs-6">
          <% if @item.unit_price > 0 %>
              <div class="description-block border-right">
                <h2><%= humanized_money_with_symbol @item.unit_price %></h2>
                <span class="description-text">ASK PRICE</span>
              </div><!-- /.description-block -->
          <% end %>
        </div><!-- /.col -->

      </div>

      <% if @item.image.file? %>
          <br/>
          <div class="row" style=""> <!-- style="min-height:462px;padding:0 10px;"> -->
            <div class="col-md-10 col-xs-10" style="height:258px;">
              <%= image_tag @item.image.url(:large), style: "width:200px;" %> <!-- , class: 'img-responsive' %> -->
            </div>
          </div>
      <% end %>


      <div class="row">
        <!--
        <div class="col-md-12 col-xs-12" style="font-size:15px;">
          <div class="col-md-4 col-xs-4" style="padding-left:5px;">SHARE ON</div>
          <div class="col-md-2 col-xs-2"><a href="javascript:;"><i class="fa fa-facebook"></i></a></div>
          <div class="col-md-2 col-xs-2"><a href="javascript:;"><i class="fa fa-twitter"></i></a></div>
          <div class="col-md-2 col-xs-2"><a href="javascript:;"><i class="fa fa-instagram"></i></a></div>
          <div class="col-md-2 col-xs-2"><a href="javascript:;"><i class="fa fa-pinterest"></i></a></div>
        </div>
        -->
        <div class="col-md-12 col-xs-12" style="font-size:18px;padding-top:30px;">
          <div class="col-md-4 col-xs-4" style="padding-left: 5px; font-size: 14px; padding-top: 5px;">
            <!--SHARE VIA -->
            &nbsp;
          </div>
          <div class="col-md-8 col-xs-8">
            <%#= social_share_button_tag("Make your offer for #{@item.name} today!", url: @item.d_link) %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= render_shareable buttons: [:facebook, :twitter, :pinterest, :google_plus],
                               url: @item.d_link,
                               title: "Make an offer for #{@item.name} today!",
                               facebook: { send: true, url: @item.fb_link || @item.d_link },
                               twitter: { send: true, url: @item.tw_link || @item.d_link },
                               google_plus: { send: true, url: @item.gp_link || @item.d_link }
          %>
        </div>
      </div>

    </div>

    <div class="col-md-7" style="min-height: 550px;">
      <div class="row">
        <% if @item.active? %>
            <div> <!-- style="min-height:479px;"> -->
              <div class="box-body">
                <%= simple_form_for @offer,
                                    url: { action: :create, controller: 'storefront/offers'},
                                    method: :post,
                                    html: { class: 'form-horizontal',
                                            style: 'margin-left:20px;',
                                            role: "form" } do |f| %>

                    <!-- <form role="form" style="margin-left:20px"> -->

                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="box-title">Make an offer! </h4>
                      </div>

                          <div class="col-xs-6">
                            <div class="input-group">
                              <span class="input-group-addon"><strong>$</strong></span>
                              <input name='offer[amount]' type="text" class="form-control" placeholder="Your price">
                            </div>

                          </div>

                          <div class="col-xs-1 text-center" style="font-size:16px;padding-top:10px;padding-left:0px;padding-right:0px;">
                            <h4 style="display:inline;"> <small>for</small>  </h4>
                          </div>

                          <div class="col-xs-3">
                            <div class="input-group">
                              <%= f.input_field :quantity,
                                                as: 'string',
                                                label: false,
                                                class:'form-control' ,
                                                value: '1' %>
                            </div>
                          </div>

                        <div class="col-xs-10" style="margin-top:10px;">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                            <input name='offer[notes]' type="text" class="form-control" placeholder="Add a note...">
                          </div>
                        </div>


                      <%= f.input_field :item_id, as: :hidden, html: { value: @item.id } %>

                    </div>
                    <div class="row">
                      <div class="col-xs-12" style="margin-top:10px;">
                        <h4 class="box-title">Contact Information <small> Details for seller to get in touch</small></h4>
                      </div>
                      <div class="col-xs-12">
                        <h4 class="box-title" style="margin-top:0px;"><small>What's your name?</small></h4>
                      </div>
                      <div class="col-xs-10">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-user"></i></span>
                          <input name='offer[customer_name]' type="text" class="form-control" placeholder="Jenny">
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <h4 class="box-title"><small>What's the best way to reach you? (choose one)</small></h4>
                      </div>

                      <div class="col-xs-10">
                      <div class="input-group">
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default sharp-edges" style="width:120px;text-align: left;">
                            <span id="channel">
                            <i class="fa fa-envelope" style="margin-right:10px"></i> Email
                            <input name='contact_info[0][channel]' value='email' type='hidden'>
                            </span>
                          </button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu sharp-edges" role="menu">
                            <li onClick="setContactChannel('email')"><a href="javascript:;" onl>Email</a></li>
                            <li onClick="setContactChannel('phone')"><a href="javascript:;">Phone</a></li>
                            <li onClick="setContactChannel('whatsapp')"><a href="javascript:;">Whatsapp</a></li>
                            <li onClick="setContactChannel('facebook')"><a href="javascript:;">Facebook</a></li>
                            <li onClick="setContactChannel('twitter')"><a href="javascript:;">Twitter</a></li>
                            <li onClick="setContactChannel('instagram')"><a href="javascript:;">Instagram</a></li>
                          </ul>
                        </div>
                        <input name='contact_info[0][address]' type="text" class="form-control">
                      </div>
                    </div>
                      <% content_for :javascript do %>
                          function setContactChannel(channel) {
                              if (channel == 'facebook') {
                                  icon = 'facebook'
                                  title = 'Facebook'
                              }
                              else if (channel == 'instagram') {
                                  icon = 'instagram'
                                  title = 'Instagram'
                              }
                              else if (channel == 'twitter') {
                                  icon = 'twitter'
                                  title = 'Twitter'
                              }
                              else if (channel == 'whatsapp') {
                                  icon = 'whatsapp'
                                  title = 'Whatsapp'
                              }
                              else if (channel == 'phone') {
                                  icon = 'phone'
                                  title = 'Phone'
                              }
                              else if (channel == 'email') {
                                  icon = 'envelope'
                                  title = 'Email'
                              }
                              var label = "<i class='fa fa-" + icon +"' style='margin-right:10px'></i>" + title;
                              var field = "<input name='contact_info[0][channel]' value='" + channel + "' type='hidden'>"
                              var final = "<span id='channel'>" + label + field + "</span>";
                              $('#channel').replaceWith(final);
                          }
                      <% end %>
                      <!--
                      <div class="col-xs-5">
                        <%#= render partial: 'channel_fields', locals: { first: true } %>
                      </div>
                      <div class="col-xs-5">
                        <%#= render partial: 'channel_fields', locals: { first: false } %>
                      </div>
                      -->
                    </div>
                    <div class="row">
                    <% if @source %>
                        <%= f.input_field :source, as: :hidden, value: @source %>
                          <div style="margin-top:70px;">&nbsp;</div>
                    <% else %>
                          <div class="col-xs-12">
                            <h4 class="box-title"><small>Where did you see this listed?</small></h4>
                          </div>
                          <div class="col-xs-10">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                              <input name='offer[source]' type="text" class="form-control" placeholder="www.somerandomsite.com">
                            </div>
                            <br/>
                          </div>
                    <% end %>
                    </div>

                    </div><!-- /.box-body -->
                <!-- </form> -->
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-xs-10" style="position:relative;left:13px;">
                <button type="submit" class="btn btn-block btn-success btn-lg">Submit Offer!</button>
              </div>
            </div>
                <% end %>
        <% else %>
            <div style="padding-top:200px;">
              <div class="col-md-12 text-center">
                <p class="lead">Sorry, no offers are being accepted at this time</p>
              </div>
            </div>
        <% end %>

    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row
  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Related Projects</h3>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-sm-3 col-xs-6">
      <a href="#">
        <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

  </div>
  /.row -->

