<% if false %>
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%#= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>o

<% end %>


<% content_for :title do %>
    Edit Profile...
<% end %>

    <%= simple_form_for resource,
                        url: registration_path(resource_name),
                        method: :put,
                        html: { class: 'form-horizontal', role: "form" } do |f| %>

    <div class="modal-body">
      <div class="box-body">

        <div class="row">
          <br/>


          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-4">First Name</label>
                <div class="col-md-8 input-group">
                  <%= f.input_field :first_name, as: 'string', label: false, class: "form-control col-md-10" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-4">Last Name</label>
                <div class="col-md-8 input-group">
                  <%= f.input_field :last_name, as: 'string', label: false, class: "form-control col-md-10" %>
                </div>
              </div>
            </div>

          <div class="col-md-12">
            <div class="form-group">
              <label class="control-label col-md-4">Profile Pic</label>
              <div class="col-md-8 input-group">
                <%#= f.input_field :logo, as: 'string', label: false, class: "form-control col-md-10" %>
                <%= f.input :avatar, as: :file, label: false %>
                <p class="help-block" style="margin-bottom:0px;"> <small> Upload an image   </small> </p>
              </div>
            </div>
          </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-4">Email</label>
                <div class="col-md-8 input-group">
                  <%= f.input_field :email, as: 'email', label: false, class: "form-control col-md-10" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-4">New Password</label>
                <div class="col-md-8 input-group">
                  <%= f.input_field :password, as: 'password', label: false, class: "form-control col-md-10" %>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-4">Confirm New Password</label>
                <div class="col-md-8 input-group">
                  <%= f.input_field :password_confirmation, as: 'password', label: false, class: "form-control col-md-10" %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><!-- /.box-body -->
    </div>

    <div class="modal-footer" style="padding:0 50px 0 50px;">
      <div class="box-body">
      <div class="row">
        <div class="row">
          <div class="col-md-12" style="margin-top:20px;">

            <div class="form-group">
              <label class="control-label col-md-4" style="text-align: left;">Current Password</label>
              <div class="col-md-8 input-group">
                <%= f.input_field :current_password, as: 'password', label: false, class: "form-control col-md-10" %>
              </div>
              <p class="help-block" style="margin-bottom:0px;"><small>Enter you current password to confirm changes</small></p>
            </div>
          </div>


        </div>
      </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
        Close
      </button>
      <%= f.submit "Save Changes", class: "btn btn-primary" %>
      <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
<% end -%>







