<%= devise_error_messages! %>

<p class="login-box-msg">Create an account</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= devise_error_messages! %>

    <!--
    <div class="form-group has-feedback">
      <%#= f.text_field :first_name, class: "form-control", placeholder: "First Name", autofocus: true %>
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%#= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    -->

    <div class="form-group has-feedback">
      <%= f.email_field :email, class: "form-control",  placeholder: "Email" %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <%= f.password_field :password, class: "form-control",  autocomplete: "off", placeholder: "Password" %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <%= f.password_field :password_confirmation, class: "form-control",  autocomplete: "off", placeholder: "Retype password" %>
      <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <!--
        <div class="checkbox icheck">
          <label>
            <input type="checkbox"> I agree to the <a href="#">terms</a>
          </label>
        </div>
        -->
      </div><!-- /.col -->
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
      </div><!-- /.col -->
    </div>
<% end %>
<!-- </form> -->

<%= link_to 'Already a member?', new_user_session_url  %>
