<% content_for :title do %>
         Edit Account...
<% end %>

<%= simple_form_for current_account,
                  html: { data: { modal: true },
                          class: 'form-horizontal',
                          role: "form" } do |f| %>
  <div class="modal-body">
    <div class="box-body">

      <div class="row">
        <br/>

        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label col-md-3">Name</label>
            <div class="col-md-9 input-group">
              <%= f.input_field :name, as: 'string', label: false, class: "form-control col-md-10" %>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label col-md-3">Logo</label>
            <div class="col-md-9 input-group">
              <%= f.input :logo, as: :file, label: false %>
              <p class="help-block"><small>Upload an image for your logo</small></p>
            </div>
          </div>
        </div>

        <%= f.simple_fields_for :social  do |soc| %>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-3">Website/Blog</label>
                <div class="col-md-9 input-group">
                  <span class="input-group-addon"><small>http://</small></span>
                  <%= soc.input_field :website, as: 'string', label: false, class: "form-control col-md-10" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-3">Facebook</label>
                <div class="col-md-9 input-group">
                  <span class="input-group-addon"><small>http://</small></span>
                  <%= soc.input_field :facebook, as: 'string', label: false, class: "form-control col-md-10" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-3">Twitter</label>
                <div class="col-md-9 input-group">
                  <span class="input-group-addon"><small>http://</small></span>
                  <%= soc.input_field :twitter, as: 'string', label: false, class: "form-control col-md-10" %>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label col-md-3">Instagram</label>
                <div class="col-md-9 input-group">
                  <span class="input-group-addon"><small>http://</small></span>
                  <%= soc.input_field :instagram, as: 'string', label: false, class: "form-control col-md-10" %>
                </div>
              </div>
            </div>
        <% end  %>


        <!--
        <%# Incase I add an account image later  %>
        <div class="col-md-12">
          <div class="form-group">
            <label>Instagram</label>
            <%#= f.input :image, as: :file, label: false %>
            <p class="help-block">Upload an image for the item </p>
          </div>
        </div>
        -->

      </div>
    </div><!-- /.box-body -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
      Close
    </button>
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end -%>





