<% content_for :title do %>
    Settings
<% end %>

<% content_for :section_header_big do %>
    Settings
<% end %>

<% content_for :section_header_small do %>
    Manage your settings
<% end %>

<% content_for :styles do %>
    .form-horizontal .control-label {
        text-align: inherit;
    }
    .text-field {
        padding-top:7px;
    }
<% end %>

<div class="row">
  <div class="col-md-6">
    <!-- jQuery Knob -->
    <div class="box">
      <div class="box-header">
        <i class="fa fa-cogs"></i>
        <h3 class="box-title">Account</h3>
        <div class="box-tools pull-right">
          <div class="btn-group">
            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to "Edit", edit_account_path, data: { modal: true } %>
              </li>
              <!-- <li class="divider"></li>
              <li><a href="#">Separated link</a></li> -->
            </ul>
          </div>
        </div>
      </div><!-- /.box-header -->

      <div class="box-body">
        <div class="row">
          <div class="col-md-12" style="padding-left:20px;">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="" class="control-label col-xs-4">Account Name</label>
                <div class="col-xs-8">
                  <p class="text-field"><%= current_account.name %></p>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-xs-4">Logo</label>
                <div class="col-xs-8">
                  <%= image_tag current_account.logo.url(:thumb),
                                style: 'width:50px;height:50px;',
                                class: 'img-circle'%>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-xs-4">Website</label>
                <div class="col-xs-8">
                  <p class="text-field"><%= current_account.social.website.presence || 'Not Set'  %></p>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-xs-4">Facebook</label>
                <div class="col-xs-8">
                  <p class="text-field"><%= current_account.social.facebook.presence || 'Not Set'  %></p>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-xs-4">Twitter</label>
                <div class="col-xs-8">
                  <p class="text-field"><%= current_account.social.twitter.presence || 'Not Set' %></p>
                </div>
              </div>
              <div class="form-group">
                <label for="" class="control-label col-xs-4">Instagram</label>
                <div class="col-xs-8">
                  <p class="text-field"><%= current_account.social.instagram.presence || 'Not Set' %></p>
                </div>
              </div>
            </form>
          </div>
        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->

  <div class="col-md-6">
      <!-- jQuery Knob -->
      <div class="box">
        <div class="box-header">
          <i class="fa fa-user"></i>
          <h3 class="box-title">Profile</h3>
          <div class="box-tools pull-right">
            <div class="btn-group">
              <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to "Edit", edit_user_registration_path,
                              remote: request.xhr?,
                              data: { modal: true } %>
                </li>
                <!-- <li class="divider"></li>
                <li><a href="#">Separated link</a></li> -->
              </ul>
            </div>
          </div>
        </div><!-- /.box-header -->

        <div class="box-body">
          <div class="row">
            <div class="col-md-12" style="padding-left:20px;">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="" class="control-label col-xs-4">First Name</label>
                  <div class="col-xs-8">
                    <p class="text-field"><%= current_user.first_name %></p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="control-label col-xs-4">Last Name</label>
                  <div class="col-xs-8">
                    <p class="text-field"><%= current_user.last_name  %></p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="control-label col-xs-4">Email</label>
                  <div class="col-xs-8">
                    <p class="text-field"><%= current_user.email %></p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="control-label col-xs-4">Password</label>
                  <div class="col-xs-8">
                    <p class="text-field">**********</p>
                  </div>
                </div>
              </form>
            </div>
          </div><!-- /.row -->
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
</div><!-- /.row -->


