<p class="login-box-msg">Forgot your password?</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group has-feedback">
      <%= f.password_field :password, class: "form-control", placeholder: "New Password", autofocus: true %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>

    <div class="form-group has-feedback">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm New Password", autofocus: true %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Change my password</button>
      </div><!-- /.col -->
    </div>

<% end %>


<br/><br/>

<div class="row">
  <div class="col-md-6">
    <%- if controller_name != 'sessions' %>
        <%= link_to "Back to sign in", new_session_path(resource_name) %><br />
    <% end -%>
  </div>
  <div class="col-md-6">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Create new account", new_registration_path(resource_name) %><br />
    <% end -%>
  </div>
</div>

