
<p class="login-box-msg">Forgot your password?</p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group has-feedback">
      <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Send me password reset instructions</button>
      </div><!-- /.col -->
    </div>

<% end %>


<br/><br/>

<div class="row">
  <div class="col-md-6">
    <%- if controller_name != 'sessions' %>
        <%= link_to "Back to sign in", new_session_path(resource_name) %><br />
    <% end -%>
  </div>
  <div class="col-md-6">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Create new account", new_registration_path(resource_name) %><br />
    <% end -%>
  </div>
</div>


