/*
 *= require bootstrap/css/bootstrap.min
 *= require font-awesome/4.3.0/css/font-awesome.min
 *= require ionicons/2.0.1/css/ionicons.min
 *= require dist/css/AdminLTE.min
// *= require dist/css/skins/skin-blue.min
 *= require dist/css/skins/skin-black.min
// *= require plugins/bootstrap-timepicker.min
// *= require plugins/datepicker3
// *= require plugins/jquery.jgrowl.min
// *= require jgrowl.colors
 *= require client/pagination
 *= require_self
 */

a {
    color: #444444;
}
.content-wrapper, .right-side {
    background-color: #eff1f4;
}
.btn-github {
    background-color: #7C7C7C;
    border:none;
}

.links .fa {
    color: #888;
}

.borderless { border:none !important; }

small.beta-login {
    font-size: 15px;
    position: relative;
    bottom: 10px;
    padding-left: 7px;
}

input[type=file] {
    margin-left:13px;
}

.products-list img {
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 50% !important;
}


.datepicker { z-index: 1151 !important; }
.with-border { border-bottom: 1px solid #f4f4f4; }
.anti-form-group { margin-right: 15px; margin-left: 15px; }
span.td-label { font-weight: bold; }



/* Modal content */
.modal-body { padding:0px 50px 0px 50px; }
.modal-text { font-size:18px;}


/* --TEXT-- effect */
p.text {
    overflow: hidden;
    text-align: center;
    margin-top:50px;
    margin-bottom:35px;
    color: #d2d6de;
    font-size:20px;
}

p.text:before, p.text:after {
    background-color: #d2d6de;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
p.text:before { right: 0.5em; margin-left: -50%; }
p.text:after  { left: 0.5em; margin-right: -50%; }

/* Buttons */
.btn-transparent-bg { background-color:#fff;color:#97a0b3; }

/* Tables */
.label { font-weight: bold; }

/* Menu View */
.menu_list_view .menu-item-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    /*padding-left: 10px;
    padding-right: 10px;
    float: left;*/
}
.menu_list_view .menu-item {
    padding: 10px 5px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    cursor: pointer;
}
.menu_list_view .menu-item .title {
    font-weight: 700;
    padding-right: 100px;
}
.menu_list_view .menu-item .title-input {
    font-weight: 700;
    padding-right: 0px;
}
.menu_list_view .menu-item .description {
    font-size: 92%;
    margin: 0;
    padding-right: 100px;
}
.menu_list_view .menu-item .description-input {
    font-size: 92%;
    margin: 0;
    padding-right: 0px;
}
.menu_list_view .menu-item .price {
    position: absolute;
    top: 50%;
    margin: 0;
    margin-top: -9px;
    right: 37px;
    color: #000;
}
.menu_list_view .menu-item .btn {
    position: absolute;
    top: 50%;
    margin: 0;
    margin-top: -11px;
    right: 5px;
    /*text-indent: -999em;*/
    overflow: hidden;
    width: 22px;
    padding-right: 5px;
}

table img {
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    border-radius: 50% !important;
    margin-left:10px;
}

.table>tbody>tr>td {
    vertical-align: inherit;
}