.pagination {
    margin:0px;
}
.pagination>a:hover, .pagination>span:focus, .pagination>span:hover {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>em {background-color:#ecf0f5}
.pagination>a, .pagination>span, .pagination>em {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size:12px;
    font-style:initial;
}
.pagination-sm>a, .pagination-sm>span {
    padding: 5px 10px;
    font-size: 12px;
}
.pagination>a {
    background: #fafafa;
    color: #666;
}
