<% if false %>
    <li class="list-group-item clearfix">
      <%= link_to conversation.subject, conversation_path(conversation) %>

      <div class="btn-group-vertical pull-right">
        <% if conversation.is_trashed?(current_user) %>
            <%= link_to 'Restore', restore_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post %>
        <% else %>
            <%= link_to 'Move to trash', conversation_path(conversation), class: 'btn btn-xs btn-danger', method: :delete,
                        data: {confirm: 'Are you sure?'} %>
            <% if conversation.is_unread?(current_user) %>
                <%= link_to 'Mark as read', mark_as_read_conversation_path(conversation),
                            class: 'btn btn-xs btn-info', method: :post %>
            <% end %>
        <% end %>
      </div>

      <p><%= render 'client/conversations/participants', conversation: conversation %></p>

      <p><%= conversation.last_message.body %>
        <small>(<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)</small></p>
    </li>
<% end %>

<tr>
  <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
    <input type="checkbox" style="position: absolute; opacity: 0;">
    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div></td>
  <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
  <td class="mailbox-name">
    <%= link_to conversation.participants.first.name, conversation_path(conversation) %>
  </td>
  <td class="mailbox-subject"><b><%= conversation.subject %></b> - <%= truncate(conversation.last_message.body) %></td>
  <!-- <td class="mailbox-attachment"></td> -->
  <td class="mailbox-date"><%= time_ago_in_words(conversation.created_at) %></td>
</tr>
