<div class="col-md-3">
  <%= link_to 'Compose', new_message_path, class: 'btn btn-primary btn-block margin-bottom' %>
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Folders</h3>
    </div>
    <div class="box-body no-padding">
      <ul class="nav nav-pills nav-stacked">
        <%= mailbox_section 'inbox', @box, icon: 'inbox' %>
        <%= mailbox_section 'sent', @box, icon: 'envelope-o' %>
        <%= mailbox_section 'trash', @box, icon: 'trash-o' %>
      </ul>
    </div><!-- /.box-body -->
  </div><!-- /. box -->
</div><!-- /.col -->
