<% if false %>
    <div class="row">
      <div class="col-sm-9">
        <% if @box == 'trash' %>
            <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,
                           data: {confirm: 'Are you sure?'} %></p>
        <% end %>
        <ul class="list-group">
          <%= render partial: 'client/conversations/conversation', collection: @conversations %>
        </ul>
        <%= will_paginate %>
      </div>
    </div>
<% end %>

<% content_for :title do %>
    Mailbox
<% end %>

<% content_for :section_header_big do %>
    Mailbox
<% end %>

<% content_for :section_header_small do %>
    0 new messages
<% end %>

  <div class="row">
    <%= render partial: 'client/conversations/folders' %>

    <div class="col-md-9">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Inbox</h3>
          <div class="box-tools pull-right">
            <div class="has-feedback">
              <input type="text" class="form-control input-sm" placeholder="Search Mail">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-controls">
            &nbsp;
          </div>
          <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
              <tbody>
              <%= render partial: 'client/conversations/conversation', collection: @conversations %>
              </tbody>
            </table><!-- /.table -->
          </div><!-- /.mail-box-messages -->
        </div><!-- /.box-body -->
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
            &nbsp;
          </div>
        </div>
      </div><!-- /. box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
