<% content_for :styles do %>
    .messages {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    }
<% end %>

<!--
<p>Chatting with
  <%#= render 'client/conversations/participants', conversation: @conversation %>
</p>

<div class="panel panel-default">
  <div class="panel-heading"><%#= @conversation.subject %></div>

  <div class="panel-body">
    <div class="messages">
      <%# @conversation.receipts_for(current_user).each do |receipt| %>
          <div class="media">
            <%# message = receipt.message %>
            <div class="media-left">
              <%#= gravatar_for message.sender, 45, message.sender.name %>
            </div>

            <div class="media-body">
              <h6 class="media-heading"><%#= message.sender.name %>
                says at <%#= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>
              <%#= message.body %>
            </div>
          </div>
      <%# end %>
    </div>
  </div>
</div>
-->

<% content_for :title do %>
    Mailbox
<% end %>

<% content_for :section_header_big do %>
    Mailbox
<% end %>

<% content_for :section_header_small do %>
    Conversation with James
<% end %>

<div class="row">
  <%= render partial: 'client/conversations/folders' %>

  <div class="col-md-9">
    <!-- DIRECT CHAT -->
    <div id="myDirectChat" class="box box-primary" style="min-height:500px">
      <div class="box-header with-border">
        <h3 class="box-title"> <%= @conversation.subject %> </h3>
      </div><!-- /.box-header -->
      <div class="box-body" style="min-height:500px;">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages" style="min-height: 500px;">

          <% @conversation.receipts_for(current_user).each do |receipt| %>
              <% message = receipt.message %>
              <% message_owner = message.sender == current_user%>

              <div class="direct-chat-msg <%= 'right' if message_owner %>">
                <div class="direct-chat-info clearfix">
                  <span class="direct-chat-name pull-left"><%= message.sender.name %></span>
                  <span class="direct-chat-timestamp pull-right">
                    <%= message.created_at.strftime("%-d %B %l:%M %p") %>
                  </span>
                </div><!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="dist/img/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                  <%= message.body %>
                </div><!-- /.direct-chat-text -->
              </div><!-- /.direct-chat-msg -->
          <% end %>
        </div><!--/.direct-chat-messages-->


        <!-- Contacts are loaded here -->
        <div class="direct-chat-contacts">
          <ul class="contacts-list">
            <li>
              <a href="#">
                <img class="contacts-list-img" src="dist/img/user1-128x128.jpg">
                <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Count Dracula
                              <small class="contacts-list-date pull-right">2/28/2015</small>
                            </span>
                  <span class="contacts-list-msg">How have you been? I was...</span>
                </div><!-- /.contacts-list-info -->
              </a>
            </li><!-- End Contact Item -->
            <li>
              <a href="#">
                <img class="contacts-list-img" src="dist/img/user7-128x128.jpg">
                <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Sarah Doe
                              <small class="contacts-list-date pull-right">2/23/2015</small>
                            </span>
                  <span class="contacts-list-msg">I will be waiting for...</span>
                </div><!-- /.contacts-list-info -->
              </a>
            </li><!-- End Contact Item -->
            <li>
              <a href="#">
                <img class="contacts-list-img" src="dist/img/user3-128x128.jpg">
                <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Nadia Jolie
                              <small class="contacts-list-date pull-right">2/20/2015</small>
                            </span>
                  <span class="contacts-list-msg">I'll call you back at...</span>
                </div><!-- /.contacts-list-info -->
              </a>
            </li><!-- End Contact Item -->
            <li>
              <a href="#">
                <img class="contacts-list-img" src="dist/img/user5-128x128.jpg">
                <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Nora S. Vans
                              <small class="contacts-list-date pull-right">2/10/2015</small>
                            </span>
                  <span class="contacts-list-msg">Where is your new...</span>
                </div><!-- /.contacts-list-info -->
              </a>
            </li><!-- End Contact Item -->
            <li>
              <a href="#">
                <img class="contacts-list-img" src="dist/img/user6-128x128.jpg">
                <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              John K.
                              <small class="contacts-list-date pull-right">1/27/2015</small>
                            </span>
                  <span class="contacts-list-msg">Can I take a look at...</span>
                </div><!-- /.contacts-list-info -->
              </a>
            </li><!-- End Contact Item -->
            <li>
              <a href="#">
                <img class="contacts-list-img" src="dist/img/user8-128x128.jpg">
                <div class="contacts-list-info">
                            <span class="contacts-list-name">
                              Kenneth M.
                              <small class="contacts-list-date pull-right">1/4/2015</small>
                            </span>
                  <span class="contacts-list-msg">Never mind I found...</span>
                </div><!-- /.contacts-list-info -->
              </a>
            </li><!-- End Contact Item -->
          </ul><!-- /.contatcts-list -->
        </div><!-- /.direct-chat-pane -->
      </div><!-- /.box-body -->
      <div class="box-footer">
        <%= form_tag reply_conversation_path(@conversation), method: :post do %>
            <div class="input-group">
              <%= text_field_tag 'body', nil, class: 'form-control', placeholder: 'Type message...', required: true %>
              <span class="input-group-btn">
                <%= submit_tag "Send", class: 'btn btn-flat' %>
              </span>
            </div>
        <% end %>


      </div><!-- /.box-footer-->
    </div><!--/.direct-chat -->
  </div>
</div>


