<%= link_to 'Add a new item',
            new_item_path,
            remote: request.xhr?,
            data: { modal: true},
            class: "pull-right btn btn-github borderless",
            style: "color:#fff;position:relative;bottom:5px;"
%>
