<%= simple_form_for item,  html: { class: 'form-horizontal', role: "form" } do |f| %>
    <div class="modal-body">
      <div class="box-body">

        <div class="row">
          <br/>
          <div class="col-md-12">
            <div class="form-group">
              <label>Name</label>
              <div class="input-group col-md-12">
                <%= f.input_field :name, as: 'string', label: false, class: "form-control" %>
              </div><!-- /.input group -->
            </div><!-- /.form group -->
          </div><!-- /.form group -->

          <div class="col-md-12">
            <div class="form-group">
              <label>Listing URL</label>
              <div class="input-group col-md-12">
                <%= f.input_field :listing_url, as: 'string', label: false, class: "form-control" %>
              </div><!-- /.input group -->
            </div><!-- /.form group -->
          </div><!-- /.form group -->

              <div class="col-md-6">
                <div class="form-group">
                  <label>ID</label>
                  <div class="input-group">
                    <%= f.input_field :uid, as: 'string', label: false, class: "form-control" %>
                  </div>
                </div><!-- /.form group -->
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Suggested Price</label>
                  <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <%= f.input_field :unit_price, as: 'string', label: false, class: "form-control" %>
                  </div>
                </div><!-- /.form group -->
              </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Image (Optional)</label>
                <%= f.input :image, as: :file, label: false %>
                <p class="help-block">Upload an image for the item </p>
              </div>
            </div>

        </div>

        <!--
        <div class="form-group">
          <label>Add any important information about the order </label>
          <%#= f.input_field :price, as: 'string', label: false, class: "form-control", rows: 3  %>
        </div>
        -->
      </div><!-- /.box-body -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
        Close
      </button>
      <%= f.submit "Save", class: "btn btn-github" %>
    </div>
<% end -%>
