<% content_for :title do %>
    Items
<% end %>

<% content_for :section_header_big do %>
    Items
<% end %>

<% content_for :section_header_small do %>
    Manage your items
<% end %>

<% content_for :section_header_right do %>
    <%= render partial: 'client/items/add_item_button' %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="box"> <!-- style="border-color:#39cccc !important"> -->
      <div class="box-header">
        <h3 class="box-title"> </h3>
        <div class="box-tools">
          <div class="input-group">
            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
            <div class="input-group-btn">
              <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table">
          <% if @items.present? %>
              <col width='10%'>
              <col width='50%'>
              <col width='10%'>
              <col width='20%'>
              <tr>
                <th>Item ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
              </tr>
              <% @items.each do |item| %>
                  <tr>
                    <td><%= item.uid %></td>
                    <td><%= link_to item.name, item_path(item) %></td>
                    <td><%= humanized_money_with_symbol item.unit_price %></td>
                    <td> <%= image_tag item.image.url(:thumb) %></td>
                  </tr>
              <% end %>
          <% else %>
              <div class="col-md-12 text-center">
                <p class="lead">No items added</p>
              </div>
          <% end %>
        </table>
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="pull-right no-margin pagination-sm">
          <%= will_paginate(@items, page_link: false) %>
        </div>
      </div>
    </div><!-- /.box -->



  </div>
</div>
