<% content_for :title do %>
    Items
<% end %>

<% content_for :section_header_big do %>
    Items
<% end %>

<% content_for :section_header_small do %>
    Manage your items
<% end %>

<% content_for :section_header_right do %>
    <%= render partial: 'client/items/add_item_button' %>
<% end %>

<% content_for :styles do %>
    .link-table>tbody>tr>td {
       padding-left:0px;
    }
    code { font-size:75%; }
    .link-table>tbody>tr { padding-left:10px;}
    .link-table>tbody>tr>th { padding-left:15px;}
<% end %>

<% content_for :js_document_ready do %>
    $(".spin>a").click(function() {
        var spinner = "<td style='padding-left:60px;'><i class='fa fa-refresh fa-spin' style='color:#3c8dbc;font-size:12px;'></i></td>"
        $(this).closest('.spin').replaceWith(spinner);
    });
<% end %>

<!-- row -->
<div class="row">
  <div class="col-md-9">
    <!-- jQuery Knob -->
    <div class="box">  <!-- style="min-height:276px;"> -->
      <div class="box-header">
        <i class="fa fa-star"></i>
        <h3 class="box-title"><%= @item.name %></h3>
        <div class="box-tools pull-right">
          <div class="btn-group">
            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to 'Edit...',
                            edit_item_path,
                            remote: request.xhr?,
                            data: { modal: true}
                %>
              </li>
              <li>
                <%= link_to 'Remove...',
                            item_path(@item),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %>
              </li>
               <li class="divider"></li>
              <!-- <li><a href="#">Separated link</a></li> -->
              <li>
                <% if @item.active? %>
                    <%= link_to "Stop Accepting Offers",
                                item_path(@item, { item: { active: false} }),
                                method: :put,
                                data: { confirm: "Are you sure?" } %>
                <% else %>
                    <%= link_to "Accept Offers",
                                item_path(@item, { item: { active: true} }),
                                method: :put,
                                data: { confirm: "Are you sure?" } %>
                <% end %>
              </li>
            </ul>
          </div>
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div><!-- /.box-header -->

      <div class="box-body" style="min-height:233px;">
        <div class="row">
          <% if @item.image? %>
              <div class="col-md-6 text-center">
                <%= image_tag @item.image.url(:medium) %>
              </div><!-- ./col -->
          <% end %>

          <div class="col-md-5">
            <p class="lead"><%= @item.active? ? 'Currently Accepting Offers' : 'Not Accepting Offers' %></p>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                <% if @item.unit_price > 0 %>
                    <tr>
                      <th style="width:50%">Your Price:</th>
                      <td><%= humanized_money_with_symbol @item.unit_price %></td>
                    </tr>
                <% end %>
                <tr>
                  <th>Number of Offers:</th>
                  <td><%= @item.offers.count %></td>
                </tr>
                <% if @item.highest_offer %>
                    <tr>
                      <th>Highest Offer:</th>
                      <td>
                        <%= link_to humanized_money_with_symbol(@item.highest_offer.amount),
                                    edit_offer_path(@item.highest_offer),
                                    remote: request.xhr?,
                                    style: 'float:left;', data: { modal: true } %>
                      </td>
                    </tr>
                <% end %>
                <% if @accepted_offers.present?  %>
                    <tr>
                      <th>Accepted Offer(s):</th>
                      <td>
                        <table>
                          <% @item.accepted_offers.each do |offer| %>
                              <tr><td>
                                <%= link_to humanized_money_with_symbol(offer.amount),
                                            edit_offer_path(offer),
                                            remote: request.xhr?,
                                            style: 'float:left;', data: { modal: true } %>
                              </td></tr>
                          <% end %>
                        </table>
                      </td>
                    </tr>
                <% end %>
                </tbody></table>
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->


  <div class="col-md-3">
    <!-- jQuery Knob -->
    <div class="box links">
      <div class="box-header">
        <i class="fa fa-link"></i>
        <h3 class="box-title">Links</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div><!-- /.box-header -->

      <div class="box-body">
        <div class="row">
          <div class="col-xs-12" style="padding-bottom:5px">
            <i>
              Share using the links for the respective platforms
            </i>
          </div>
        </div>
        <div class="row">
            <div class="table-responsive">
              <table class="table link-table">
                <tbody>

                <!--
                <tr>
                  <th style="width:10%;">
                    &nbsp;
                  </th>
                  <td style="padding-left:60px;">
                    <i class="fa fa-refresh fa-spin" style="color:#3c8dbc;font-size:12px;"></i>
                  </td>
                </tr>
                -->

                <%= render partial: 'client/link_specs/share_link',
                           locals: {
                                   link_spec:        @item.link_spec,
                                   platform_name:    'default',
                                   platform_link_id: 'd_link',
                                   platform_icon:    'globe',
                           }   %>
                <%= render partial: 'client/link_specs/share_link',
                           locals: {
                                   link_spec:        @item.link_spec,
                                   platform_name:    'facebook',
                                   platform_link_id: 'fb_link',
                                   platform_icon:    'facebook',
                           }   %>
                <%= render partial: 'client/link_specs/share_link',
                           locals: {
                                   link_spec:        @item.link_spec,
                                   platform_name:    'twitter',
                                   platform_link_id: 'tw_link',
                                   platform_icon:    'twitter',
                           }   %>

                <%= render partial: 'client/link_specs/share_link',
                           locals: {
                                   link_spec:        @item.link_spec,
                                   platform_name:    'google+',
                                   platform_link_id: 'gp_link',
                                   platform_icon:    'google-plus',
                           }   %>

                <%= render partial: 'client/link_specs/share_link',
                           locals: {
                                   link_spec:        @item.link_spec,
                                   platform_name:    'instagram',
                                   platform_link_id: 'ig_link',
                                   platform_icon:    'instagram',
                           }   %>

                <!--
                <tr title="Share on any website ">
                  <th style="width:10%;">
                    <a href="<%#= @item.link%>" target="_blank">
                      <i class="fa fa-globe"></i>
                    </a>
                  </th>
                  <td>
                    <small>Click here to generate link</small>
                    <%# unless @item.link %>
                        <code>
                          <%#= @item.link %>
                        </code>
                    <%# end %>
                  </td>
                </tr>
                <tr title="Share on Facebook ">
                  <th>
                    <a href="<%#= @item.fb_link%>" target="_blank">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </th>
                  <td>
                    <code id="fb_link">
                        <%#= @item.fb_link %>
                    </code>
                  </td>
                </tr>
                <tr title="Share on Twitter ">
                  <th>
                    <a href="<%#= @item.tw_link%>" target="_blank">
                  <i class="fa fa-twitter"></i>
                    </a>
                  </th>
                  <td>
                    <code>
                      <%#= @item.tw_link %>
                    </code>
                  </td>
                </tr>
                <tr title="Share on Instagram ">
                  <th>
                    <a href="<%#= @item.ig_link%>" target="_blank">
                    <i class="fa fa-instagram"></i>
                        </a>
                  </th>
                  <td>
                    <code>
                      <%#= @item.ig_link %>
                    </code>
                  </td>
                </tr>
                -->
                </tbody>
              </table>
            </div>


        </div><!-- /.row -->
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>

</div><!-- /.row -->

<div class="row">
  <div class="col-md-9">
    <div class="box">
      <div class="box-header">
        <i class="fa fa-money"></i>
        <h3 class="box-title">Offers</h3>
      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table">
          <% if @offers.present? %>
              <col width='15%'>
              <col width='10%'>
              <col width='10%'>
              <col width='30%'>
              <col width='20%'>
              <tr>
                <th>Offer Price</th>
                <th>Qty</th>
                <th>Date</th>
                <th>Origin</th>
                <th>Status</th>
              </tr>
              <% @offers.each do |offer| %>
                  <tr>
                    <td><%= humanized_money_with_symbol offer.amount %></td>
                    <td><%= offer.quantity %></td>
                    <td><%= offer.created_at.strftime('%e/%m/%Y') %></td>
                    <td><%= offer.source_humanized %></td>
                    <td>
                      <%= render partial: 'client/offers/offer_status',
                                 locals: { offer: offer }  %>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <div class="col-md-12 text-center">
                <p class="lead">No offers have been made yet</p>
              </div>

          <% end %>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>
