<tr title="<%= platform_name %> link" id="<%= platform_link_id %>">
  <th style="width:10%;">
    <%= link_to "<i class='fa fa-#{platform_icon}'></i>".html_safe,
                link_spec.send(platform_link_id).presence || 'javascript:;',
                target: :blank %>
  </th>
  <td class="spin">
    <% if link_spec.send(platform_link_id).present? %>
        <code>
            <%= link_to link_spec.send(platform_link_id),
                        link_spec_path(link_spec, link: platform_link_id),
                        remote: request.xhr?,
                        data: { modal: true}
            %>
        </code>
    <% else %>
<%= link_to "<small>Click here for #{platform_name} link</small>".html_safe,
            link_spec_path(link_spec, platform: platform_name),
            method: :put,
            remote: true,
            html: { style: "font-size:12px;"}
%>
    <% end %>
  </td>
</tr>
