<% content_for :title do %>
    <span class="lead" style="font-size:21px;">
      <b>offer</b>space
    </span>
<% end %>

<div class="modal-body text-center">
  <div class="box-body">
    &nbsp;
    <div class="row" style="padding:20px 40px;">
      <p class="lead">Copy and paste the link below to share your item's offer space </p>
      <p style="font-size: 18px;"> <%= @link %>  </p>
    </div>
  </div>
</div>
