
<% if @platform == 'default' %>
$('#d_link').replaceWith("<%= escape_javascript(
                                render(partial: 'client/link_specs/share_link',
                                       locals: {
                                           link_spec:        @link_spec,
                                           platform_name:    'default',
                                           platform_link_id: 'd_link',
                                           platform_icon:    'globe',
                                       })
                                ) %> ");
<% end %>


<% if @platform == 'facebook' %>
$('#fb_link').replaceWith("<%= escape_javascript(
                                render(partial: 'client/link_specs/share_link',
                                       locals: {
                                           link_spec:        @link_spec,
                                           platform_name:    'facebook',
                                           platform_link_id: 'fb_link',
                                           platform_icon:    'facebook',
                                       })
                                ) %> ");
<% end %>

<% if @platform == 'twitter' %>
$('#tw_link').replaceWith("<%= escape_javascript(
                                render(partial: 'client/link_specs/share_link',
                                       locals: {
                                           link_spec:        @link_spec,
                                           platform_name:    'twitter',
                                           platform_link_id: 'tw_link',
                                           platform_icon:    'twitter',
                                       })
                                ) %> ");
<% end %>

<% if @platform == 'instagram' %>
$('#ig_link').replaceWith("<%= escape_javascript(
                                render(partial: 'client/link_specs/share_link',
                                       locals: {
                                           link_spec:        @link_spec,
                                           platform_name:    'instagram',
                                           platform_link_id: 'ig_link',
                                           platform_icon:    'instagram',
                                       })
                                ) %> ");
<% end %>

<% if @platform == 'google+' %>
$('#gp_link').replaceWith("<%= escape_javascript(
                                render(partial: 'client/link_specs/share_link',
                                       locals: {
                                           link_spec:        @link_spec,
                                           platform_name:    'google+',
                                           platform_link_id: 'gp_link',
                                           platform_icon:    'google-plus',
                                       })
                                ) %> ");
<% end %>
