<% status = offer.status %>
<% case status  %>
<% when 'pending' %>
    <% icon, status = ['bg-aqua', status.titleize] %>
<% when 'accepted' %>
    <% icon, status = ['bg-green', status.titleize] %>
<% when 'rejected' %>
    <% icon, status = ['bg-red', status.titleize] %>
<% end %>
<%= link_to "<span class='label #{icon} pull-right'>#{status}</span>".html_safe,
            edit_offer_path(offer),
            remote: request.xhr?,
            style: 'float:left;', data: { modal: true } %>
