<!--
<div class="modal" id="item_form" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="mainModalLabel">
          Offer Details
        </h4>
      </div>
      -->
<% content_for :title do %>
    Offer Details
<% end %>
          <div class="modal-body" style="padding: 0 5px;">
            <div class="box-body">
              <div class="row">
                <div class="col-md-6 text-center">
                  <% if @offer.item.image? %>
                      <%= image_tag @offer.item.image.url(:medium) %>
                  <% end %>
                    <p style="margin-top:10px;"> <%= @offer.item.name %>  </p>
                </div><!-- ./col -->

                <div class="col-md-6">
                  <p class="lead" style="">
                  <%= humanized_money_with_symbol @offer.amount %>
                    for
                    <%= @offer.quantity %>
                  </p>
                  <div class="table-responsive" style="padding-right:20px;">
                    <table class="table">
                      <tbody>
                      <tr>
                        <th style="width:34%">Your Price:</th>
                        <td><%= humanized_money_with_symbol @offer.item.unit_price %></td>
                      </tr>
                      <tr>
                        <th>Notes:</th>
                        <td><%=  @offer.notes %></td>
                      </tr>

                      <tr><th colspan="2" style="padding-bottom:0px;">Customer Details: </th></tr>
                      <tr>
                        <td colspan="2" style="border-top:none;padding-top:0px;">
                          <table>
                            <tr>
                              <td colspan="2">
                                <p> <strong><i>Name - </i></strong><%= @offer.customer_name %> </p>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <% @offer.contact_info.each do |c| %>
                                    <p>
                                      <strong>
                                        <i> <%= c.channel_humanized %> </i>
                                      </strong>
                                      - <%= c.address %>
                                    </p>
                                <% end %>
                              </td>
                            </tr>
                          </table>

                        </td>
                      </tr>
                      </tbody></table>
                  </div>
                </div>
              </div><!-- /.row -->
            </div><!-- /.box-body -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
              Close
            </button>
            <%= link_to "Accept",
                        offer_path(@offer, { offer: { status: 'accepted'} }),
                        class: 'btn btn-success pull-right',
                        method: :put,
                        data: { confirm: "Are you sure?" } %>
            <%= link_to "Reject",
                        offer_path(@offer, { offer: { status: 'rejected'} }),
                        class: 'btn btn-danger pull-right',
                        method: :put,
                        data: { confirm: "Are you sure?" } %>
          </div>
<!--
    </div>
  </div>
</div>
-->