<% content_for :title do %>
    Offers
<% end %>

<% content_for :section_header_big do %>
    Offers
<% end %>

<% content_for :section_header_small do %>
    Offers for items
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title"> </h3>
        <!--
        <div class="box-tools">
          <div class="input-group">
            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
            <div class="input-group-btn">
              <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
        -->
      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table">
          <% if @offers.present? %>
              <col width='40%'>
              <col width='10%'>
              <col width='10%'>
              <col width='5%'>
              <col width='5%'>
              <col width='20%'>
              <col width='10%'>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Offer</th>
                <th>Qty</th>
                <th>Date</th>
                <th>Source</th>
                <th>Status</th>
              </tr>
              <% @offers.each do |offer| %>
                  <tr>
                    <td><%= link_to offer.item.name, item_path(offer.item) %></td>
                    <td> <%= humanized_money_with_symbol(offer.item.unit_price) %> </td>
                    <td><%= humanized_money_with_symbol offer.amount  %></td>
                    <td><%= offer.quantity %></td>
                    <td><%= offer.created_at.strftime('%e/%m/%Y') %></td>
                    <td><%= offer.source_humanized %></td>
                    <td> <%= render partial: 'client/offers/offer_status',
                                 locals: { offer: offer } %>
                    </td>
                  </tr>
              <% end %>
          <% else %>
              <div class="col-md-12 text-center">
                <p class="lead">No offers made</p>
              </div>
          <% end %>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>
