/* jQuery jGrowl */
div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
    color: #ffffff;
    background-color: #2c3e50;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 1;
    filter: alpha(opacity=100);
    text-align: center;
}
div.jGrowl div.jGrowl-closer {
    color: #ecf0f1;
    opacity: 0.35;
    filter: alpha(opacity=35);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
div.jGrowl div.jGrowl-closer:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
div.jGrowl div.primary {
    background-color: #27ae60;
    color: #ffffff;
}
div.jGrowl div.primary a {
    color: #ffffff;
    border-bottom: 1px dotted;
}
div.jGrowl div.primary a:hover {
    color: #ffffff;
    border-bottom: 1px solid;
    text-decoration: none;
}
div.jGrowl div.red {
    background-color: #c0392b;
    color: #ffffff;
}
div.jGrowl div.red a {
    color: #ffffff;
    border-bottom: 1px dotted;
}
div.jGrowl div.red a:hover {
    color: #ffffff;
    border-bottom: 1px solid;
    text-decoration: none;
}
div.jGrowl div.blue {
    background-color: #2980b9;
    color: #ffffff;
}
div.jGrowl div.blue a {
    color: #ffffff;
    border-bottom: 1px dotted;
}
div.jGrowl div.blue a:hover {
    color: #ffffff;
    border-bottom: 1px solid;
    text-decoration: none;
}
div.jGrowl div.green {
    background-color: #27ae60;
    color: #ffffff;
}
div.jGrowl div.green a {
    color: #ffffff;
    border-bottom: 1px dotted;
}
div.jGrowl div.green a:hover {
    color: #ffffff;
    border-bottom: 1px solid;
    text-decoration: none;
}
div.jGrowl div.orange {
    background-color: #f39c12;
    color: #ffffff;
}
div.jGrowl div.orange a {
    color: #ffffff;
    border-bottom: 1px dotted;
}
div.jGrowl div.orange a:hover {
    color: #ffffff;
    border-bottom: 1px solid;
    text-decoration: none;
}
div.jGrowl div.purple {
    background-color: #8e44ad;
    color: #ffffff;
}
div.jGrowl div.purple a {
    color: #ffffff;
    border-bottom: 1px dotted;
}
div.jGrowl div.purple a:hover {
    color: #ffffff;
    border-bottom: 1px solid;
    text-decoration: none;
}
div.jGrowl { opacity: 0.8; }
div.jGrowl div.green { background-color: #6B9B20; color: #FFFFFF; }
div.jGrowl-message span, div.jGrowl-header { color: #fff; font-weight:bold; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: none; background: none; }
div.jGrowl div.jGrowl-notification div.jGrowl-close {
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 1em;
    font-weight: bold;
    z-index: 99;
}
.jGrowl.top-right { right: 0; top: 47px; }