  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-<%= icon %>"></i></span>
    <!-- <input type="text" class="form-control" placeholder="http://facebook.com/myfacebookprofile"> -->
    <%= f.input_field :address,
                      as: 'string',
                      label: false,
                      placeholder: placeholder,
                      class:'form-control col-lg-5' %>
    <%= f.input :channel, as: :hidden, input_html: { value: channel } %>
  </div>
  <br/>
