.social-share-button-facebook { position:relative; background:none; }
.social-share-button-facebook:before {
    position:absolute;
    font-family: FontAwesome;
    top:0;
    left:-5px;
    content: "\f09a";
}

.social-share-button-twitter { position:relative; background:none; }
.social-share-button-twitter:before {
    position:absolute;
    font-family: FontAwesome;
    top:0;
    left:-5px;
    content: "\f099";
}

.social-share-button-google_plus { position:relative; background:none; }
.social-share-button-google_plus:before {
    position:absolute;
    font-family: FontAwesome;
    top:0;
    left:-5px;
    content: "\f0d5";
}

.social-share-button-email { position:relative; background:none; }
.social-share-button-email:before {
    position:absolute;
    font-family: FontAwesome;
    top:0;
    left:-5px;
    content: "\f0e0";
}

.social-share-button-pinterest { position:relative; background:none; }
.social-share-button-pinterest:before {
    position:absolute;
    font-family: FontAwesome;
    top:0;
    left:-5px;
    content: "\f0d2";
}
.social-share-button a {
    padding-left: 20px;
    padding-right: 20px;
}

a.social-share-button-google_plus {
    position: relative;
    top: 2px;
}
