<% content_for :title do %>
    Dashboard
<% end %>

<% content_for :section_header_big do %>
Dashboard
<% end %>

<% content_for :section_header_small do %>
    Control Panel
<% end %>

<% content_for :section_header_right do %>
    <%= render partial: 'client/items/add_item_button' %>
<% end %>


<div class="row">
  <div class="col-lg-3 col-md-3  col-xs-6">
    <!-- small box -->
    <div class="small-box bg-teal">
      <div class="inner">
        <h3><%= current_account.items.count %></h3>
        <p>Items</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a href="<%= items_url %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-md-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h3><%= current_account.offers.count %></h3>
        <p>Pending Offers</p>
      </div>
      <div class="icon">
        <i class="ion ion-social-usd"></i>
      </div>
      <a href="<%= offers_url %>" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-md-3  col-xs-6">
    <!-- small box -->
    <div class="small-box bg-maroon">
      <div class="inner">
        <h3>44</h3>
        <p>Customers</p>
      </div>
      <div class="icon">
        <i class="ion ion-person-add"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div><!-- ./col -->
  <div class="col-lg-3 col-md-3  col-xs-6">
    <!-- small box -->
    <div class="small-box bg-purple">
      <div class="inner">
        <h3>65</h3>
        <p>Unique Visitors</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
      <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div><!-- ./col -->
</div><!-- /.row -->
<div class="row">
  <div class="col-md-8">
    <!-- TABLE: LATEST ORDERS -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Latest Offers</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div><!-- /.box-header -->

      <% if @latest_offers.present? %>
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>Item</th>
                  <th>Original Price</th>
                  <th>Offer Price</th>
                  <th>Quantity</th>
                </tr>
                </thead>
                <tbody>

                <% @latest_offers.each do |offer| %>
                    <tr>
                      <td><%= link_to truncate(offer.item.name), item_path(offer.item) %></td>
                      <td><%= humanized_money_with_symbol offer.item.unit_price %></td>
                      <td><%= humanized_money_with_symbol offer.amount  %></td>
                      <td><%= offer.quantity %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div><!-- /.table-responsive -->
          </div><!-- /.box-body -->
          <div class="box-footer text-center">
            <%= link_to 'View All Offers', offers_url, class: 'uppercase' %>
          </div><!-- /.box-footer -->
      <% else %>
          <div class="col-md-12 text-center" style="padding-top:30px;">
            <p class="lead">
              No offers made
            </p>
          </div>
          <div class="box-footer text-center">
            &nbsp;
          </div><!-- /.box-footer -->
      <% end %>




    </div><!-- /.box -->
  </div><!-- /.col -->
  <div class="col-md-4">
    <!-- PRODUCT LIST -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Recently Added Items</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div><!-- /.box-header -->


        <% if @latest_items.present? %>
          <div class="box-body">
            <ul class="products-list product-list-in-box">
              <% @latest_items.each do |item| %>
                  <li class="item">

                    <div class="product-img">
                      <%= image_tag item.image.url(:thumb) %>
                    </div>

                    <div class="product-info" style="padding-top:15px;">
                      <a href="<%= item_path(item) %>" class="product-title">
                        <%= truncate item.name %>
                        <span class="label bg-aqua pull-right">$1800</span>
                      </a>
                      <!-- <span class="product-description">
                          Samsung 32" 1080p 60Hz LED Smart HDTV.
                        </span> -->
                    </div>

                  </li><!-- /.item -->
              <% end %>
            </ul>
            </div><!-- /.box-body -->
          <div class="box-footer text-center">
            <%= link_to 'View All Items', items_url, class: 'uppercase' %>
          </div><!-- /.box-footer -->

        <% else %>
          <div class="col-md-12 text-center" style="padding-top:30px;">
            <p class="lead">
              No items added
            </p>
          </div>
          <div class="box-footer text-center">
            &nbsp;
          </div><!-- /.box-footer -->
        <% end %>

    </div><!-- /.box -->
  </div><!-- /.col -->
</div>

<%#= render partial: 'client/items/form_modal',
           locals: { item: current_account.items.build, title: "Create item..." } %>
