/*
 *= require bootstrap/css/bootstrap.min 
 *= require font-awesome/4.3.0/css/font-awesome.min
 *= require dist/css/AdminLTE.min
 *= require plugins/iCheck/square/blue
 *= require jgrowl.colors
 *= require_self
 */

small.beta-login {
    font-size: 15px;
    position: relative;
    bottom: 10px;
    padding-left:0px;
}
.jGrowl.top-right {
    right: 38%;
    top: 0%;
}
