<% unless flash.empty? %>
    <% flash.keys.each do |key| %>
        <% if key == 'error' %>
            $.jGrowl("<span class='flash'><%= [ flash[key] ].flatten.join(',') %></span>",
            { header: 'An Error Occurred!',
            theme: 'red', sticky: true });
        <% elsif key == 'alert' %>
            $.jGrowl("<span class='flash'><%= [ flash[key] ].flatten.join(',') %></span>",
            { theme: 'orange', sticky: true });
        <% elsif ['success', 'notice' ].include?(key) %>
            $.jGrowl("<span class='flash'><%= [ flash[key] ].flatten.join(',') %></span>",
            { theme: 'green' });
        <% else  %>
            $.jGrowl("<span class='flash'>Sup nigga bitch</span>",
        <% end %>
    <% end %>
<% end %>
