<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield :title %> - offerspace </title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <%= stylesheet_link_tag "client/base.css" %>
  <%= csrf_meta_tags %>

  <style type="text/css" media="screen">
      <%= yield :styles %>
      small.beta-login {
          font-size: 12px;
          position: relative;
          bottom: 7px;
          padding-left:0px;
      }
      .main-header .logo {
          font-size:25px;
      }
  </style>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body class="skin-black">
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <b>offer</b>space
      <small class="beta-login"> beta </small>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <% if false %>
              <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the actual data -->
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                          </div>
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="user image">
                          </div>
                          <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="user image">
                          </div>
                          <h4>
                            Developers
                            <small><i class="fa fa-clock-o"></i> Today</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user3-128x128.jpg" class="img-circle" alt="user image">
                          </div>
                          <h4>
                            Sales Department
                            <small><i class="fa fa-clock-o"></i> Yesterday</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="pull-left">
                            <img src="dist/img/user4-128x128.jpg" class="img-circle" alt="user image">
                          </div>
                          <h4>
                            Reviewers
                            <small><i class="fa fa-clock-o"></i> 2 days</small>
                          </h4>
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li>
                    </ul><div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li>
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul><div class="slimScrollBar" style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 195.121951219512px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <% end %>

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag current_user.avatar.url(:medium), class: 'user-image' %>
              <span class="hidden-xs"><%= current_user.full_name.presence || current_user.email %> </span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <%#= image_tag 'placeholder_user.gif', class: 'img-circle' %>
                <%= image_tag current_user.avatar.url(:medium), class: 'img-circle' %>
                <p>
                  <%= current_user.full_name %> </span>
                  <small>Last Login:
                    <%= current_user.last_sign_in_at.strftime("%d/%m/%y at %R") %>
                  </small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="<%= account_url %>" class="btn btn-default btn-flat">Settings</a>
                </div>
                <div class="pull-right">
                  <% if user_signed_in? %>
                      <%= link_to "Sign out", destroy_user_session_path,
                                  method: :delete, class: "btn btn-default btn-flat" %>
                  <% end -%>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%= image_tag current_account.logo.url(:thumb), class: 'img-circle' %>
        </div>
        <div class="pull-left info">
            <p style="padding-top:12px;">
              <% if current_account.name.present? %>
              <%= current_account.name %>
              <% else %>
              <%= link_to "Set an account name & logo",
                          account_path, class: 'text-center', style: 'font-size:12px' %>
              <% end %>
            </p>
        </div>
      </div>
      <!-- /.search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Find an offer...">
              <span class="input-group-btn">
                <button type="submit" name="seach" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
        </div>
      </form>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <!-- ><li class="header">MAIN NAVIGATION</li> -->

        <li class="<%= 'active' if action_name == 'dashboard' %>">
          <a href="<%= authenticated_user_root_path %>">
            <i class="fa fa-dashboard"></i> <span> Dashboard</span>
          </a>
        </li>

        <li class="<%= 'active' if controller_name == 'items' %>">
          <a href="<%= items_url %>">
            <i class="fa fa-shopping-cart"></i>
            <span> Items </span>
          </a>
        </li>

        <li class="<%= 'active' if controller_name == 'offers' %>">
          <a href="<%= offers_url %>">
            <i class="fa fa-money"></i>
            <span> Offers </span>
          </a>
        </li>

        <!-- <li>
          <a href="<%#=  %>">
            <i class="fa fa-money"></i>
            <span> Offers </span>
          </a>
        </li> -->

        <!-- <li>
          <a href="<%#=  %>">
            <i class="fa fa-users"></i>
            <span> Customers </span>
            <span class="label label-primary pull-right">4</span>
          </a>
        </li> -->

        <!--
        <li class="<%#= 'active' if ['conversations', 'messages'].include?(controller_name) %>">
          <a href="<%#= conversations_path %>">
            <i class="fa fa-envelope"></i>
            <span> Mailbox </span>
            <small class="label pull-right bg-yellow">12</small>
          </a>
        </li>
        -->

        <!--
        <li class="treeview active">
          <a href="mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="mailbox.html">Inbox <span class="label label-primary pull-right">13</span></a></li>
            <li><a href="compose.html">Compose</a></li>
            <li><a href="read-mail.html">Read</a></li>
          </ul>
        </li>
        -->

        <li class="<%= 'active' if controller_name == 'accounts' %>">
          <a href="<%= account_url %>">
            <i class="fa fa-cogs"></i>
            <span> Settings </span>
          </a>
        </li>

        <!--
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span> Reports</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> SMS</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Charts</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Export Data</a></li>
          </ul>
        </li>
        -->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Right side column. Contains the navbar and content of the page -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header" style="margin-bottom:30px;">
        <h1 class="col-md-10 col-xs-9" style="padding-left:0px;">
          <%= yield :section_header_big %>
          <small> <%= yield :section_header_small %> </small>
        </h1>
      <span class="col-md-2 col-xs-3" style="margin:0px;padding:0px;">
        <%= yield :section_header_right %>
      </span>
    </section>

    <!-- flash messages -->
    <% unless flash.empty? %>
        <div class="pad margin no-print">
        <% flash.keys.each do |key| %>
            <% if key == 'error' %>
            <div class="callout callout-danger" style="margin-bottom: 0!important;">
              <h4><i class="icon fa fa-ban" style="margin-right:10px"></i> Error!</h4>
            <% elsif key == 'alert' %>
            <div class="callout callout-warning" style="margin-bottom: 0!important;">
              <h4><i class="icon fa fa-warning" style="margin-right:10px"></i> Warning!</h4>
            <% elsif key == 'notice' %>
              <div class="callout callout-info" style="margin-bottom: 0!important;">
          <% elsif key == 'success' %>
              <div class="callout callout-success" style="margin-bottom: 0!important;">
              <h4><i class="icon fa fa-check" style="margin-right:10px"></i>Success</h4>
          <% else %>
              <div class="callout callout-info" style="margin-bottom: 0!important;">
                <h4><i class="icon fa fa-info" style="margin-right:10px"></i> Info</h4>
            <% end %>

          <%= [ flash[key] ].flatten.join(',') %>
        <% end %>
          </div>
        </div>
    <% end %>

    <!-- Main content -->
    <section class="content">
      <%= yield %>
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->
  <footer class="main-footer" style="padding-top:0px;padding-bottom:0px;">
    <div class="pull-right hidden-xs">
      <small>
        <b>Version</b> 0.1
      </small>

    </div>
    <!--
    <strong>Copyright &copy; 2014-2015
      <a href="#">ckt</a>.</strong> All rights reserved.
    -->
    &nbsp;
  </footer>
</div><!-- ./wrapper -->

<!-- Modal -->
<div id="modal-holder"></div>

<%= javascript_include_tag "client/base" %>
<script type="text/javascript" charset="utf-8">
    //<![CDATA[
    <%= yield :javascript %>
    $(function() {
        <%= yield :js_document_ready %>
    });
    //]]>
</script>
</body>
</html>
