<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome - offerspace</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <%= stylesheet_link_tag 'auth/users/sessions' %>
  <%= javascript_include_tag 'auth/users/sessions' %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body class="login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="javascript:;"><b>offer</b>space</a>
    <small class="beta-login"> beta </small>

  </div><!-- /.login-logo -->
  <div class="login-box-body">

    <% unless flash.empty? %>
        <% flash.keys.each do |key| %>
            <% if ['error', 'alert'].include?(key) %>
                <div class="alert alert-danger alert-dismissable text-center">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                  <h4><i class="icon fa fa-ban"></i> Error</h4>
                  <%= [ flash[key] ].flatten.join(',') %>
                </div>
            <% end %>
        <% end %>
    <% end %>

    <%= yield %>

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->


<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

</script>
</body>
</html>
