<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> <%= yield :title %> - offerspace</title>

  <%= stylesheet_link_tag "storefront/base.css" %>
  <%= csrf_meta_tags %>

  <style type="text/css" media="screen">
      <%= yield :styles %>

      .dropdown-menu {
          border-radius: 0px;
          margin-top: 0px;
      }

      .sharp-edges {
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          border-radius: 0px;
      }

      img.user-logo {
          border-radius: 50%;
          height: 35px;
          width: 35px;
          position: relative;
          bottom: 7px;
          /* right: 7px; */
          border: #9d9d9d 2px solid;
      }
      img.flash-user-image {
          border:#9d9d9d 2px solid;
          border-radius: 50%;
          height:50px;
          width:50px;
          position: relative;
          bottom: 3px;
          margin-bottom:15px;
      }
      .flash-logo {
          margin-bottom: 10px !important;
      }
      .modal-body {
          min-height: 230px;;
      }
      .navbar-inverse {
          background-color:#f1f1f1;
          border-color:#f1f1f1;
      }
      .navbar-brand {
          padding: 15px;
          font-size: 18px;
          line-height: 20px;
          height: 20px;
          float: none;
          position:relative;
          bottom:10px;
      }
      .navbar-center {
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
          text-align: center;
          margin: auto;
          height: 100%;
      }
      .navbar-right {
          margin-right:75px !important;
      }
      small.beta-login {
          font-size: 15px;
          position: relative;
          bottom: 10px;
          padding-left:0px;
      }
      .box-rounded {
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
      }
      .right-stuff {
          padding-top: 5px;
          height: 60px;
      }
      .right-stuff i {
          font-size:20px;
      }
      .navbar-inverse .navbar-nav>li>a {
          color: #444;
      }
  </style>

</head>

<body>
 <!-- Navigation -->
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

   <div class="container">

   <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="padding-top:3px;">
      <div class="user-panel" style="padding:0px;">
        <div class="pull-left info">
         <%= image_tag 'offerlogo.png', style: 'height:45px;' %>
        </div>
      </div>
    </div>

    <div class="navbar-center navbar-brand" href="#">
      <a class="navbar-brand">
        <p style="font-size: 15px;color:#444;font-weight: bold;">
            <%= yield :account_name %>
        </p>
      </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right right-stuff">
        <!--
        <li>
          <p style="position: relative;top:15px;font-size: 15px;color:#9d9d9d;font-weight: bold;">
            <%#= yield :account_name %>
          </p>
        </li>
        -->

        <li>
          <a href="javascript:;">
            <!-- should link to items/index -->
            <%= yield :user_logo %>
          </a>
        </li>

        <%= yield :navigation %>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container" style="padding-top:25px">

  <%= yield %>

  <hr class="col-xs-11">
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>&copy; <b>ckt</b> 2015</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->

 <% unless flash.empty? %>
    <div class="modal" id="flash_modal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="margin-top:20%;font-size:21px;">
        <div class="modal-content box-rounded">

          <div class="modal-header" style="padding-bottom: 0px;">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="mainModalLabel">

              <div class="login-logo flash-logo">
                <a href="javascript:;"><b>offer</b>space</a>
                <small class="beta-login"> beta </small>
              </div><!-- /.login-logo -->
            </h4>
          </div>

          <div class="modal-body text-center">
            <div class="box-body">
              <%= yield :flash_user_image %>
                <br/>
                <div class="col-md-12">
                  <% flash.keys.each do |key| %>
                      <%= [ flash[key] ].flatten.join(',').html_safe %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>


<%= javascript_include_tag "storefront/base" %>

 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
 <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
 <!--[if lt IE 9]>
 <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
 <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
 <![endif]-->
 <script type="text/javascript" charset="utf-8">
     //<![CDATA[
     <%= yield :javascript %>
         $(window).load(function(){
             $('#flash_modal').modal('show');
         });
     //]]>
 </script>
</body>

</html>
